 body {
  font-family: Arial;
  background: #f2f2f2;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.stock-block {
  margin-top: 25px;
  padding: 20px;
  border-radius: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
}

.green { color: #0a8a0a; }
.red { color: #d92020; }
